div.loading {
	background-image: url(AjaxLoading.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color: grey;
}

.lotusTitleBar h2.lotusEllipsis {
	width: 250px;
}

.error {
	color:red;
}