.mobile body {
	font-size:		50px !important;
}

.mblListItem {
	line-height:	100px !important;
	height:			100px !important;
}

.mblHeading {
	line-height:	100px !important;
	height:			100px !important;
}

.mblView {
	padding-top:	105px;
}